{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
</ul>
<table class="table table-bordered">
    <caption>Game info</caption>
    <tbody>
        <tr>
            <th scope="row">Amount of colors</th>
            <td>{{ game.amount_of_colors }}</td>
        </tr>
        <tr>
            <th scope="row">Amount of positions</th>
            <td>{{ game.amount_of_positions }}</td>
        </tr>
        <tr>
            <th scope="row">Amount of guesses</th>
            <td>{{ game.amount_of_guesses }}</td>
        </tr>
        <tr>
            <th scope="row">Can have double colors</th>
            <td>{{ game.can_have_double_colors }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <caption>Board</caption>
    <thead>
        <tr>
            <th scope="col">Guess</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
        {% for _ in range(game.amount_of_guesses - game.board.guesses|length) -%}
        <tr>
            <th scope="row"></th>
            <td></td>
        </tr>
        {% endfor %}
        {% for guess, result in game.board.guesses -%}
        <tr>
            <th scope="row">{{guess}}</th>
            <td>
                {% for g, exists, correct_place in guess|zip(result[0], result[1]) if exists -%}
                <div class="circle border border-dark rounded-circle d-inline-block"
                    style="background-color: {{ "red" if correct_place else "grey" }};">
                </div>
                {% endfor %}
                <!-- {{ result }} -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}