{% extends 'base.html' %}

{% block content %}

    <h1>Home</h1>

    <div class="container">
        <a href="{{ url_for('create') }}">
            <button class="btn btn-success m-4 fs-5 fw-bolder">Create game</button>
        </a>
    </div>

    <div class="container">
        <div class="row gap-4">
            {% for i, game in games|enumerate %}
                <div class="col-3 bg-white rounded p-3">
                    <h2>{{ (i + 1)|string + '. Game of ' + game.nickname }}</h2>
                    <ul>
                        <li>Amount of colors {{ game.amount_of_colors }}</li>
                        <li>Amount of guesses {{ game.amount_of_guesses }}</li>
                        <li>Amount of positions {{ game.amount_of_positions }}</li>
                    </ul>
                    <a href="{{ url_for('game', game_id=i) }}">
                        <button class="btn btn-primary fs-6 fw-bolder">Play game</button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}