{% extends 'base.html' %}

{% block content %}

    <h1>Home</h1>

    <div class="container">
        <a class="btn btn-success m-4 fs-5 fw-bolder" href="{{ url_for('create') }}">Create game</a>
    </div>

    <div class="container">
        <div class="row">
            {% for i, game in games|enumerate %}
                <div class="col-4 bg-white rounded p-3">
                    <h2>{{ game.name }}</h2>
                    <p>Amount of colors {{ game.amount_of_colors }}</p>
                    <p>Amount of guesses {{ game.amount_of_guesses }}</p>
                    <p>Amount of positions {{ game.amount_of_positions }}</p>
                    <a class="btn btn-primary fs-6 fw-bolder" href="{{ url_for('game', game=game, game_id=i) }}">Play game</a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}